* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Rubik", sans-serif;
}
body {
  height: 100vh;
}
/* -----------------------header nav---------------------- */
.flex {
  display: flex;
}
.logo {
  font-weight: 500;
  color: #fff;
  object-fit: cover;
  font-size: 2rem;
}
.logo-box {
  gap: 0.5rem;
  align-items: center;
}
.logo-1 {
  height: 2rem;
  width: 2rem;
}
.header-nav {
  justify-content: space-between;
  align-items: center;
}
.bell {
  color: #c0bbbb;
  font-size: 2.3rem;
  cursor: pointer;
  position: relative;
}
.bell::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 30%;
  right: 5%;
  top: 10%;
  border: 1px solid #e9e9e9;
  background-color: #ffa428;
  border-radius: 50%;
  cursor: pointer;
}
.header {
  padding: 2rem 5rem;
  background-image: url(./img/bg-photo.jpg);
  background-position: center;
  background-size: cover;
  height: 30rem;
  z-index: 1;
  position: relative;
}
.header::before {
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}
.header-btn {
  /* opacity: 0.9; */
  font-size: 1.6rem;
  outline: none;
  border: none;
  /* color: #c0bbbb; */
  color: #e6e6e6;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0.8rem 2rem;
  position: relative;
  cursor: pointer;
}
.header-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  position: absolute;
  background-color: #e9e9e9;
  z-index: -1;
  opacity: 0.2;
}
.icon-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.natification {
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
/* --------------------------header-secound---------------------------- */
.header-container {
  margin-top: 5rem;
  justify-content: space-between;
  align-items: flex-start;
}
.bg-photo {
  width: 23rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 0.3rem;
}
.text {
  flex-direction: column;
  gap: 0.5rem;
}
.img-text {
  font-size: 2rem;
  color: #fff;
}
.header-link {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 0.5rem;
}
.header-link .text__link {
  text-decoration: none;
  color: #e7e6e4;
  /* opacity: 0.9; */
}
.header-link span {
  color: #e9e9e9;
  opacity: 0.7;
}
.bg-details-box {
  align-items: flex-start;
  gap: 3rem;
}
.btn-box {
  padding: 2.5rem;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
  color: #e7e6e4;
  padding: 2.5rem;
  z-index: 1;
}
.btn-box::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 0.3rem;

  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-color: #c0bbbb;
}
.btn-box .number {
  font-size: 1.8rem;
  color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  z-index: 1;
  margin-left: 1.5rem;
  justify-content: center;
  align-items: center;
  border-width: 5rem;
  position: relative;
}
.btn-box .number::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 5px solid #989898;
  border-bottom: 5px solid #ffa428;
  border-top: 5px solid #ffa428;
  border-left: 5px solid #ffa428;
  z-index: -1;
}
.btn-box .number::after {
  content: "";
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-color: #c0bbbb;
}
.btn-text-box .heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #fff;
}
.btn-text-box .text {
  margin-top: -0.4rem;
  font-size: 1.4rem;
  color: #fff;
  opacity: 0.8;
}
.btn1 {
  cursor: pointer;
  background-color: #ffa524;
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 32rem 1fr;
}
.about {
  /* background-color: red; */
  margin-top: 7rem;
  margin-left: 5rem;
  margin-right: 0.5rem;
}
.about .heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #3e3e3e;
}
.about-header {
  justify-content: space-between;
  padding-bottom: 1.5rem;
  align-items: center;
  border-bottom: 1px solid #989898;
}
.hr-menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #989898;
}
.cuvered-persons {
  margin-top: 2rem;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.cuvered-persons .img-box {
  gap: 2rem;
  margin-top: 2rem;
}
.cuvered-persons-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #777;
}

.cuvered-person-img {
  object-fit: cover;
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
}

.margin-top-bottom {
  margin: 2.5rem 0;
}

.about-details-text {
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.about-details-text span {
  display: block;
  font-size: 1.4rem;
  color: #989898;
}
.about-details-link {
  font-weight: 600;
  text-decoration: none;
  color: #3e3e3e;
}
.deshboard-view {
  background-color: #fefefe;
  margin-left: 2rem;
  border-left: 1px solid #989898;
}
.active {
  border-bottom: 2px solid #ffa524 !important;
}
.color-link {
  color: #3e3e3e !important;
  font-weight: 600;
}
.nav-list {
  list-style: none;
  align-items: center;
  z-index: 1;
  gap: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  padding: 2rem 0;
}
.nav-list:hover {
  z-index: 111;
  border-bottom: 2px solid #ffa524;
}

.home-icon {
  font-size: 1.4rem;
  color: #3e3e3e;
}
nav {
  border-bottom: 1px solid #989898;
}
.nav-ul {
  margin-left: 2rem;
  margin-right: 5rem;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  list-style: none;
  color: #989898;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover .nav-list {
  border-bottom: 3px solid #ffa524;
}
.link-btn {
  background-color: #11d49f;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.color-white {
  color: #fff !important;
}
.fa-money-bill-wave {
  font-size: 1.2rem;
  transform: rotate(330deg);
  color: #fff;
  margin-right: 0.2rem;
}
.img-claim {
  width: 3rem;
  height: 3rem;
  margin-right: -1.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}
/* .img-claim-1 {
  z-index: 5;
  position: relative;
} */

/* .img-claim-2 {
  z-index: 4;
}
.img-claim-3 {
  z-index: 3;
}
.img-claim-4 {
  z-index: 2;
} */

.claims-number {
  font-family: "Karla", sans-serif;
  font-size: 5.8rem;
  font-weight: 300;
  color: #3e3e3e;
}

.claims-numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.claims-box {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 0 0 15px rgba(176, 176, 176, 0.1);
  padding: 2rem;
  align-items: center;
  gap: 2rem;
}
.border {
  border-left: 1px solid #989898;
  padding-left: 2rem;
}
.claims-header {
  margin-bottom: 1.3rem;
  color: #989898;
  font-size: 1.8rem;
}
.member-details {
  flex-direction: column;
  margin-top: 4rem;
  gap: 3rem;
}
.member-box {
  box-shadow: 0 0 15px rgba(176, 176, 176, 0.1);
  gap: 2rem;
  /* width: 50%; */
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: #fff;
  padding: 2rem;
}
.member-details-1 {
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.member-activity {
  justify-content: space-between;
  padding: 0 2rem;
}
.member-img {
  width: 13rem;
  border-radius: 0.4rem;
  height: 13rem;
  object-fit: cover;
}
.member-name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #3e3e3e;
  text-transform: uppercase;
}
.address {
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}
.member-scroll {
  overflow-y: scroll;
  height: 50rem;
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
  gap: 2rem;
}
.member-scroll::-webkit-scrollbar {
  width: 0.5rem;
}
.member-scroll::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #ffa428;
}
.member-scroll::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
.member-text {
  font-size: 1.5rem;
  color: #777;
}
.member-text span {
  color: #777;
  font-weight: 500;
}
.member-text i {
  color: #e3e3e3;
  margin-right: 1rem;
  font-size: 1.6rem;
}
.btn-claim {
  text-transform: uppercase;
  background-color: #ffa524;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}
.btn-claim i {
  transform: rotate(330deg);
  margin-right: 1rem;
}
/* -------------------------------activity----------------------------- */

.activity-heading {
  font-size: 2rem;
  color: #777;
  border-bottom: 1px solid #989898;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.activity-container {
  height: 50rem;
  border-radius: 0.3rem;
  overflow-y: scroll;
  padding: 2rem;
  background-color: #fff;
  gap: 3rem;
  margin-top: 3rem;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(176, 176, 176, 0.1);
  position: relative;
}

.activity-container::-webkit-scrollbar {
  width: 0.5rem;
}
.activity-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #ffa428;
}
.activity-container::-webkit-scrollbar-track {
  background-color: #fff;
}
.cercle {
  background-color: #57a9f2;
  border-radius: 50%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}
.cercle::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #57a9f2;
  transform: scale(2);
  border-radius: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  line-height: 0;
}

.activity-box {
  cursor: pointer;
  gap: 2rem;
  align-items: flex-start;
}

.activity-text-box .heading {
  font-size: 2rem;
  font-weight: 500;
  color: #3e3e3e;
}
.activity-text-box .text {
  font-size: 1.6rem;
  color: #777;
  margin-top: 0.5rem;
}
.time {
  font-size: 1.2rem;
  color: #989898;
  margin-top: 1rem;
}
.activity {
  margin-top: 4rem;
}
.members-activity {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 3rem;
}
.cercle-bg-color {
  background-color: #ffa428;
}
.cercle-bg-color::after {
  background-color: #ffa428;
}
.bg-gren {
  background-color: #11d49f;
}
.bg-gren::after {
  background-color: #11d49f;
}
.padding {
  background-color: #f9f9f9;
  padding: 0 5rem 2rem 2rem;
}
